<h2>BigQuery interface with Python</h2> <br>
Here's a <a href="https://blog.morizyun.com/python/library-bigquery-google-cloud.html">basic tutorial on the topic</a>:<br>
<p>

Make sure to complete all of these steps before you execute this code:

<ul>
    <li>Log into your Google Cloud account via your Google credentials.</li>
    <li>Create a service account</li>
    <li>Download the JSON credentials file to a diectory you can access</li>
</ul>

In [ ]:
pip install google-cloud-bigquery

Requirement already satisfied: google-cloud-bigquery in /opt/anaconda3/lib/python3.12/site-packages (3.32.0)
Requirement already satisfied: google-api-core<3.0.0,>=2.11.1 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (2.24.2)
Requirement already satisfied: google-auth<3.0.0,>=2.14.1 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-bigquery) (2.40.1)
Requirement already satisfied: google-cloud-core<3.0.0,>=2.4.1 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-bigquery) (2.4.3)
Requirement already satisfied: google-resumable-media<3.0.0,>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-bigquery) (2.7.2)
Requirement already satisfied: packaging>=24.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-bigquery) (25.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-bigquery) (2.9.0.post0)
Requirement already satisfied: requests<3.0.0,>=2.21.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-cloud-bigquery) (2.32.3)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.70.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.19.5 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (5.29.4)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.3 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core<3.0.0,>=2.11.1->google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.26.1)
Requirement already satisfied: grpcio<2.0dev,>=1.33.2 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.71.0)
Requirement already satisfied: grpcio-status<2.0.dev0,>=1.33.2 in /opt/anaconda3/lib/python3.12/site-packages (from google-api-core[grpc]<3.0.0,>=2.11.1->google-cloud-bigquery) (1.71.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /opt/anaconda3/lib/python3.12/site-packages (from google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (4.9.1)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /opt/anaconda3/lib/python3.12/site-packages (from google-resumable-media<3.0.0,>=2.0.0->google-cloud-bigquery) (1.7.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil<3.0.0,>=2.8.2->google-cloud-bigquery) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0,>=2.21.0->google-cloud-bigquery) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0,>=2.21.0->google-cloud-bigquery) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0,>=2.21.0->google-cloud-bigquery) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0,>=2.21.0->google-cloud-bigquery) (2025.1.31)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /opt/anaconda3/lib/python3.12/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0.0,>=2.14.1->google-cloud-bigquery) (0.4.8)
Note: you may need to restart the kernel to use updated packages.

In [21]:
# Initialise
from google.cloud import bigquery
from google.cloud import bigquery_storage

In [22]:
# Make sure to put your credentials file in
# the directory you're running this from
# and check it is so with this command

import os
os.listdir(".")

['bank-names.txt',
 '.config',
 'Music',
 '.condarc',
 '.docker',
 'bank.csv',
 'BankMarketing.ipynb',
 'Untitled1.ipynb',
 '.DS_Store',
 'week6',
 '.CFUserTextEncoding',
 '.xonshrc',
 'MySQLConnect.ipynb',
 'anaconda_projects',
 'Untitled.ipynb',
 '.zshrc',
 '.local',
 'Pictures',
 '.zprofile',
 'working folder',
 '.zsh_history',
 'Untitled2.ipynb',
 '.ipython',
 'Desktop',
 'Library',
 '.matplotlib',
 '.lesshst',
 'bank-full.csv',
 'Dec2014Flights.csv',
 'pokemon.csv',
 'videos',
 'Public',
 '.tcshrc',
 '.virtual_documents',
 'BigQuery.ipynb',
 '.anaconda',
 'melodic-metrics-461803-m0-6d1589c9813a.json',
 'Movies',
 'Applications',
 '.Trash',
 'IdeaProjects',
 '.ipynb_checkpoints',
 '.jupyter',
 '.npm',
 'Documents',
 '.mysql_history',
 'google_stock_price.csv',
 '.vscode',
 '.m2',
 '.bash_profile',
 'Downloads',
 '.continuum',
 '.gitconfig',
 'melodic-metrics-461803-m0-a964ed811ce5.json',
 '.viminfo',
 '.zsh_sessions',
 '.conda']

In [23]:
import os

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "melodic-metrics-461803-m0-6d1589c9813a.json"

In [24]:
# Instantiates a client
from google.cloud import bigquery
bigquery_client = bigquery.Client()
# bqstorageclient = bigquery_storage.BigQueryReadClient()

In [20]:
query_string = ('SELECT name FROM `bigquery-public-data.usa_names.usa_1910_2013` '
                   'WHERE state= "TX" '
                    'LIMIT 100')

results = bigquery_client.query(query_string).result()  # Waits for job to complete.
for row in results:
    print(row.name)

Bonnie
Manuela
Florence
Leona
Agnes
Nettie
Elvira
Sadie
Annie
Mozelle
Oleta
Beatrice
Ida
Mildred
Guadalupe
Gladys
Kathryn
May
Johnnie
Lena
Georgia
Gertrude
Ramona
Eloise
Lucy
Margaret
Lillie
Josefina
Aurora
Iris
Sally
Christine
Agnes
Dora
Johnnie
Esther
Lucy
Doris
Emily
Ora
Betty
Maria
Inez
Maggie
Ina
Lula
Mozelle
Teresa
Melba
Juana
Irene
Nancy
Alicia
Mattie
Kathryn
Oleta
Helen
Francis
Agnes
Leola
Fay
Teresa
Nadine
Stella
Flora
Catherine
Imogene
Olga
Beatriz
Lenora
Jo
Gertrude
Lottie
Celia
Leonor
Louise
Rosa
Elnora
Opal
Laura
Patricia
Henrietta
Patsy
Carmen
Maurine
Ellen
Gwendolyn
Odessa
Katie
Lucile
Jennie
Alma
Lela
Imogene
Josephine
Jewel
Geneva
Sofia
Leola
Genoveva

In [15]:
!pip install db-dtypes

Requirement already satisfied: db-dtypes in /opt/anaconda3/lib/python3.12/site-packages (1.4.3)
Requirement already satisfied: numpy>=1.24.0 in /opt/anaconda3/lib/python3.12/site-packages (from db-dtypes) (1.26.4)
Requirement already satisfied: packaging>=24.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from db-dtypes) (25.0)
Requirement already satisfied: pandas>=1.5.3 in /opt/anaconda3/lib/python3.12/site-packages (from db-dtypes) (2.2.2)
Requirement already satisfied: pyarrow>=13.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from db-dtypes) (16.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.5.3->db-dtypes) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.5.3->db-dtypes) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.5.3->db-dtypes) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.3->db-dtypes) (1.16.0)

In [14]:
sof_query_string = ('SELECT name FROM `bigquery-public-data.usa_names.usa_1910_2013` '
                   'WHERE state= "TX" '
                    'LIMIT 100')

results = bigquery_client.query(query_string).result()  # Waits for job to complete.
for row in results:
    print(row.name)

                title  unique_words
0              hamlet          5318
1          kinghenryv          5104
2           cymbeline          4875
3  troilusandcressida          4795
4            kinglear          4784
5      kingrichardiii          4713
6        2kinghenryvi          4683
7          coriolanus          4653
8        2kinghenryiv          4605
9  antonyandcleopatra          4582

In [15]:
query_string = """
  SELECT
  store_number,
  upper(store_name) as store_name,
  upper(county) as county,
  ANY_VALUE(store_location) as wkt,
  ROUND(SUM(volume_sold_liters),2) AS liters_sold
FROM
  `bigquery-public-data.iowa_liquor_sales.sales`
GROUP BY
  store_number,
  store_name,
  county,
  ST_ASTEXT(store_location)
ORDER BY
  store_number,
  store_name,
  liters_sold DESC
LIMIT 10"""

In [18]:
iowaliq_df = (
    bigquery_client.query(query_string)
    .to_dataframe()
)

iowaliq_df

,store_number,store_name,county,wkt,liters_sold
0,10003,TOP SHELF LIQUOR / IOWA CITY,JOHNSON,POINT(-91.540728892 41.65487474),4089.23
1,10003,TOP SHELF LIQUOR / IOWA CITY,JOHNSON,POINT(-77.31187 35.96278),3647.59
2,10003,TOP SHELF LIQUOR / IOWA CITY,JOHNSON,POINT(-91.544079711 41.648079581),2435.99
3,10003,TOP SHELF LIQUOR / IOWA CITY,JOHNSON,POINT(-91.54408 41.64788),2227.93
4,10003,TOP SHELF LIQUOR / IOWA CITY,JOHNSON,POINT(-91.54362 41.64755),1084.18
5,10003,TOP SHELF LIQUOR / IOWA CITY,JOHNSON,POINT(-91.5407288919999 41.65487474),1067.60
6,10003,TOP SHELF LIQUOR / IOWA CITY,JOHNSON,None,972.64
7,10004,JACK & JILL STORE / WEST BRANCH,CEDAR,POINT(-91.34341301 41.670494006),8512.04
8,10004,JACK & JILL STORE / WEST BRANCH,CEDAR,POINT(-91.34353 41.67084),2641.50
9,10004,JACK & JILL STORE / WEST BRANCH,CEDAR,POINT(-91.34572 41.67141),2099.70

In [26]:
query_job_3 = bigquery_client.query("""
#standardSQL
SELECT
  nameOfAirline,
  COUNT(*) numFlights
FROM
  `bigquery-samples.airline_ontime_data.flights` AS flights
JOIN (
  SELECT
    airline nameOfAirline,
    code
  FROM
    `bigquery-samples.airline_ontime_data.airline_id_codes`) AS codes
ON
  flights.airline_code = codes.code
GROUP BY
  airline,
  nameOfAirline
ORDER BY
  numFlights DESC""")

results_3 = query_job_3.result()  # Waits for job to complete.

In [28]:
for row in results_3:
    print("{}: {}".format(row.nameOfAirline, row.numFlights))

Southwest Airlines Co.: WN: 11723133
American Airlines Inc.: AA: 6822440
Delta Air Lines Inc.: DL: 6607317
SkyWest Airlines Inc.: OO: 5158971
United Air Lines Inc.: UA: 5043578
American Eagle Airlines Inc.: MQ: 5020385
US Airways Inc.: US (Merged with America West 9/05. Reporting for both starting 10/07.): 4736226
Northwest Airlines Inc.: NW: 3429596
ExpressJet Airlines Inc. (1): XE: 3366940
ExpressJet Airlines Inc.: EV: 3211589
Continental Air Lines Inc.: CO: 2867310
AirTran Airways Corporation: FL: 2182427
Comair Inc.: OH: 1698485
Alaska Airlines Inc.: AS: 1640564
JetBlue Airways: B6: 1607565
Mesa Airlines Inc.: YV: 1480194
Pinnacle Airlines Inc.: 9E: 1007834
America West Airlines Inc.: HP (Merged with US Airways 9/05.Stopped reporting 10/07.): 768655
Independence Air: DH: 664935
Frontier Airlines Inc.: F9: 658538
Hawaiian Airlines Inc.: HA: 547494
ATA Airlines d/b/a ATA: TZ: 206007
Aloha Air Cargo: KH: 88336
Virgin America: VX: 49966

In [30]:
Popular_Tags = bigquery_client.query("""SELECT year, tag, COUNT(*) AS freq
    FROM (
      SELECT TRIM(skill) AS tag,
      EXTRACT(YEAR FROM TIMESTAMP(creation_date)) AS year
      FROM `bigquery-public-data.stackoverflow.posts_questions`,
      UNNEST(SPLIT(tags, '|')) AS skill
    )
    GROUP BY year, tag
    ORDER BY year, freq DESC """).to_dataframe()

In [31]:
Popular_Tags

        year              tag  freq
0       2008               c#  7473
1       2008             .net  5877
2       2008             java  4288
3       2008          asp.net  3771
4       2008              c++  3091
...      ...              ...   ...
503265  2022      commonsware     1
503266  2022   itemcollection     1
503267  2022  updatable-views     1
503268  2022           fsxaml     1
503269  2022       uniobjects     1

[503270 rows x 3 columns]

In [19]:
Popular_Tags_by_year

In [33]:
posts_and_users= bigquery_client.query("""select posts.id as post_id, posts.creation_date as created, posts.title as post_title, 
posts.view_count as view_count, users.id as user_id,  posts.owner_display_name as user_name,
users.location as location
from `bigquery-public-data.stackoverflow.stackoverflow_posts` posts ,`bigquery-public-data.stackoverflow.users` users
where posts.owner_user_id = users.id
order by view_count desc
""").to_dataframe()

posts_and_users.head(10)

,post_id,created,post_title,view_count,user_id,user_name,location
0,5585779,2011-04-07 18:27:54.270000+00:00,Converting String to Int in Java?,3364629,537967,None,None
1,927358,2009-05-29 18:09:14.627000+00:00,How do you undo the last commit?,3339277,89904,None,None
2,1789945,2009-11-24 13:04:29.157000+00:00,How can I check if one string contains another...,3036124,131679,None,None
3,503093,2009-02-02 12:54:16.867000+00:00,How can I make a page redirect using jQuery?,2946923,44984,venkatachalam,"Salem, Tamil Nadu, India"
4,2003505,2010-01-05 01:12:15.867000+00:00,Delete a Git branch both locally and remotely,2774568,95592,None,"Independence, Missouri United States"
5,184618,2008-10-08 20:08:07.967000+00:00,What is the best comment in source code you ha...,2376668,15985,endpoint,"London, England United Kingdom"
6,901712,2009-05-23 15:16:39.917000+00:00,How do I check if a checkbox is checked?,2367628,111435,None,India
7,114543,2008-09-22 12:27:57.510000+00:00,Horizontally center a div in a div,2261660,20403,Lukas,Slovakia
8,9329446,2012-02-17 13:51:48.683000+00:00,For-each over an array in JavaScript?,2236283,1140876,None,Netherlands
9,4114095,2010-11-06 16:58:14.550000+00:00,Revert Git repo to a previous commit,2222238,111174,None,None

In [34]:
posts_and_users.to_csv("posts_and_users.csv", index=False)

In [35]:
posts_and_users.head(10).to_csv("posts_and_users_top10.csv", index=False)

In [ ]:
posts_and_users_by_year= bigquery_client.query("""select posts.id as post_id, posts.creation_date as created, posts.title as post_title, 
posts.view_count as view_count, users.id as user_id,  posts.owner_display_name as user_name,
users.location as location,
EXTRACT(YEAR FROM posts.creation_date) as year                                              
from `bigquery-public-data.stackoverflow.stackoverflow_posts` posts ,`bigquery-public-data.stackoverflow.users` users
where posts.owner_user_id = users.id
and EXTRACT(YEAR FROM posts.creation_date) BETWEEN 2008 and 2021
order by view_count desc
""").to_dataframe()

TypeError: QueryJob.to_dataframe() got an unexpected keyword argument 'index_cols'

In [52]:
type(posts_and_users_by_year)

pandas.core.frame.DataFrame

In [54]:
import pandas as pd

In [60]:
posts_and_users_by_year

,post_id,created,post_title,view_count,user_id,user_name,location,year
0,5585779,2011-04-07 18:27:54.270000+00:00,Converting String to Int in Java?,3364629,537967,None,None,2011
1,927358,2009-05-29 18:09:14.627000+00:00,How do you undo the last commit?,3339277,89904,None,None,2009
2,1789945,2009-11-24 13:04:29.157000+00:00,How can I check if one string contains another...,3036124,131679,None,None,2009
3,503093,2009-02-02 12:54:16.867000+00:00,How can I make a page redirect using jQuery?,2946923,44984,venkatachalam,"Salem, Tamil Nadu, India",2009
4,2003505,2010-01-05 01:12:15.867000+00:00,Delete a Git branch both locally and remotely,2774568,95592,None,"Independence, Missouri United States",2010
...,...,...,...,...,...,...,...,...
30396346,2654985,2010-04-16 17:28:39.190000+00:00,None,<NA>,229930,None,Colorado Springs,2010
30396347,33022306,2015-10-08 17:25:59.007000+00:00,None,<NA>,5414993,None,"Jaipur, Rajasthan, India",2015
30396348,35412932,2016-02-15 15:18:59.770000+00:00,None,<NA>,862382,None,"Minneapolis, MN",2016
30396349,11031817,2012-06-14 11:08:25.560000+00:00,None,<NA>,1329111,None,The Netherlands,2012
30396350,31264161,2015-07-07 09:01:46.450000+00:00,None,<NA>,5054545,None,Germany,2015